<div class="row">
  <div class="col-sm-12  p-5 quform-elements">
    <div class="row">
      <div class="col-sm-12 pb-2">
        <h5 class="text-center">Register</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="quform-element">
          <label for="password">Mobile <span class="quform-required">*</span></label>
          <div class="quform-input">
            <input class="form-control" id="mobile" type="text" name="mobile" placeholder="Your mobile here" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="quform-element">
          <label for="password">Your Password <span class="quform-required">*</span></label>
          <div class="quform-input">
            <input class="form-control" id="password" type="password" name="password" placeholder="Your password here" />
          </div>
        </div>
      </div>
    </div>

    <div class="row pb-5">
      <div class="col-md-12">
        <!--        <div class="bd-example mb-2">-->
        <a href="#!" class="btn btn-sm btn-success col-sm-12"><span>Register</span></a>
        <!--        </div>-->
      </div>
    </div>


  </div>
</div>

