<div class="row">
  <div class="col-sm-12  p-5 quform-elements">
    <div class="row">
      <div class="col-sm-12 pb-2">
        <h5 class="text-center">Forgot Password</h5>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-md-12">
        <div class="quform-element">
          <label for="fpemail">Your Email <span class="quform-required">*</span></label>
          <div class="quform-input">
            <input class="form-control" id="fpemail" type="text" name="fpemail" placeholder="Your email here" />
          </div>
        </div>
      </div>
    </div>

    <div class="row pb-2">
      <div class="col-md-12">
        <!--        <div class="bd-example mb-2">-->
        <a class="btn btn-sm btn-success col-sm-12"><span>Verify</span></a>
        <!--        </div>-->
      </div>
    </div>

    <div class="row pb-2">
      <div class="col-md-12 text-center ">
        <!--        <div class="bd-example mb-2">-->
        <a class="cursor-pointer" (click)="login()"><i class="fa fa-arrow-left"></i></a>
        <!--        </div>-->
      </div>
    </div>

  </div>
</div>

